{% extends "layout.html" %}

{% block title %}
    Add Partner
{% endblock %}

{% block main %}
<style>
        /* Add any custom styles here */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .overlay-text {
            position: relative;
            color: white;
            text-align: center;
            padding: 100px 20px;
        }

        /* Add more styles as needed */
    </style>
<body>
    <script>
        var img = new Image();
        img.src = "https://static01.nyt.com/images/2018/10/15/us/15harvard2/15harvard2-superJumbo.jpg";
        img.onload = function() {
            document.body.style.backgroundImage = 'url(' + img.src + ')';
            document.body.style.backgroundRepeat = 'no-repeat';
        }

        document.addEventListener("DOMContentLoaded", function() {
            var loginButton = document.getElementById("login-button");
            var logoutButton = document.getElementById("logout-button");
            var editButton = document.getElementById("edit-button");
            var isLoggedIn = {{ session.get("user_id")|default("false")|tojson|safe }};

            if (isLoggedIn) {
                loginButton.style.display = "none";
                logoutButton.style.display = "block";
                editButton.style.display = "block";
            } else {
                loginButton.style.display = "block";
                logoutButton.style.display = "none";
                editButton.style.display = "none";
            }
        });
    </script>
    <div class="overlay-text">
        <div class="center-block">
            <h1 id="bold">TAAF Youth Initiative</h1>
        </div>
        
        <div class="center-block">
            <h5>{{ home_text }}</h5>
        </div>
        <footer>&copy; 2023 Daniel Bae</footer>
    </div>
</body>

{% endblock %}
